.icon-arrow-up-wrapper {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 40px;
}

.icon-arrow-up {
  font-size: 50px;
  color: #353842;
}

.button-donate {
  border-radius: 20px;
  width: 100px;
  text-align: center;
  background: #c08269;
}

header {
  background: url('../../assets/img/ken-steven-9pForwRXkA4-unsplash.jpg?h=3b9e53d194615eb5be3f051838820152') center / cover no-repeat;
  width: 100%;
  min-height: 100vh;
  filter: grayscale(40%);
}

.header-container {
  margin: 0px;
  width: 100%;
}

.header-row {
  min-height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.header-col-separation {
  height: 250px;
}

.header-heading {
  margin-top: 50px;
}

#problem {
  height: 400px;
  background: #f9f9f9;
  padding-top: 60px;
}

.problem-row {
  margin: 0px;
}

.solution-row {
  margin: 0px;
}

.title-section-our-focus {
  height: 300px;
  background: url('../../assets/img/annie-spratt-m0DUL38R49Y-unsplash.1.jpg') top / cover no-repeat;
}

.row-our-mission-vision {
  margin: 0px;
}

.card-about-us {
  height: 100%;
}

@media (max-width: 992px) {
  .title-section-our-focus {
    height: 150px;
  }
}

.title-selection-challenge {
  height: 300px;
  background: url('../../assets/img/annie-spratt-1YnBzhJISg4-unsplash.1.jpg') top / cover no-repeat;
}

@media (max-width: 992px) {
  .title-selection-challenge {
    height: 150px;
  }
}

.title-section-solution {
  height: 300px;
  background: url('../../assets/img/annie-spratt-jmECplToD0c-unsplash.2.jpg') top / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-solution {
    height: 150px;
  }
}

.title-section-our-mission {
  height: 300px;
  background: url('../../assets/img/maxime-niyomwungeri-z-lNmXoXt-k-unsplash.1.jpg') top / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-our-mission {
    height: 150px;
  }
}

.title-section-our-impact {
  height: 300px;
  background: url('../../assets/img/annie-spratt-SPS796v4KmM-unsplash.2.jpg') center / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-our-impact {
    height: 150px;
  }
}

.title-section-partners {
  height: 300px;
  background: url('../../assets/img/womanizer-wow-tech-8oB43mw658c-unsplash.1.jpg') center / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-partners {
    height: 150px;
  }
}

.title-section-about-us {
  height: 300px;
  background: url('../../assets/img/hudson-hintze-vpxeE7s-my4-unsplash.1.jpg') center / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-about-us {
    height: 150px;
  }
}

.title-section-donate {
  height: 300px;
  background: url('../../assets/img/kat-yukawa-K0E6E0a0R3A-unsplash.1.jpg') center / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-donate {
    height: 100px;
  }
}

.our-focus-row {
  min-height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.card-focus {
  height: 100%;
}

body {
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #212529;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}

.navbar-brand-small {
  margin: 0px;
  padding: 0px;
  width: 25px;
}

.navbar-brand-big {
  width: 60px;
}

#navcol-1 {
  width: 100%;
}

.header-heading {
  margin-top: 0px;
  font-weight: 500;
}

.info-text-header {
  color: #c08269;
  font-weight: 600;
  line-height: 45px;
}

.info-text-header-span {
  color: #292b2c;
  font-weight: 500;
  line-height: 40px;
}

.heading-title-section {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.description-full-brown {
  color: #c08269;
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
}

.description-full-black {
  font-weight: 600;
  color: #121416;
  line-height: 24px;
  font-size: 16px;
}

.card {
  height: 100%;
}

.paragraph-full-dark {
  font-size: 16px;
  line-height: 24px;
}

.text-brown {
  color: #c08269;
}

.lazy {
  background-image: none;
}
