body {
  width: 100%;
  /*padding-top: 60px;*/
}

.icon-arrow-up-wrapper {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 40px;
}

.icon-arrow-up {
  font-size: 50px;
  color: #353842;
}

.button-donate {
  border-radius: 20px;
  width: 100px;
  text-align: center;
}

header {
  background: url("../../assets/img/ken-steven-9pForwRXkA4-unsplash.jpg?h=3b9e53d194615eb5be3f051838820152") center / cover no-repeat;
  width: 100%;
  min-height: 105vh;
  filter: grayscale(40%);
}

.header-container {
  margin: 0px;
  width: 100%;
  /*padding-top: 60px;*/
}

.header-row {
  min-height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.header-col-separation {
  height: 250px;
}

.header-heading {
  margin-top: 50px;
}

#problem {
  height: 400px;
  background: #f9f9f9;
  padding-top: 60px;
}

.problem-row {
  margin: 0px;
}

.title-section {
  height: 85px;
  background: url("../../assets/img/ninno-jackjr-CG6Gd__QIOY-unsplash.copie.png?h=cc17d687a3a1e68eeebfb3a6a9a68947") center / cover no-repeat;
}

#solution {
  background: #f9f9f9;
  padding-bottom: 50px;
  /*padding-top: 80px;*/
}

.solution-row {
  margin: 0px;
}

.title-section-our-focus {
  height: 300px;
  background: url("../../assets/img/annie-spratt-m0DUL38R49Y-unsplash.1.png?h=c78965b6d4b250ec7d6cdcd5abe1e5e6") top / cover no-repeat;
}

.card-solution {
  border-style: none;
  border-right-style: none;
  border-left-style: none;
  opacity: 1;
  text-shadow: 0px 0px;
  box-shadow: inset 0px 0px;
}

#our-mission-vision {
  background: #f9f9f9;
}

.row-our-mission-vision {
  margin: 0px;
}

#impact {
  background: #f9f9f9;
}

#partners {
  background: #f9f9f9;
  /*padding-top: 80px;*/
}

#about-us {
  background: #f9f9f9;
  /*padding-top: 80px;*/
}

.row-about-us {
  margin-top: 100px;
}

.card-about-us {
  text-shadow: 0px 0px;
  box-shadow: inset 0px 0px;
  margin-bottom: 80px;
}

.avatar-about-us {
  margin-top: -80px;
}

#donate {
  background: #f9f9f9;
  /*padding-top: 80px;*/
}

.card-donate {
  border: 2px solid #c08269;
  border-radius: 10px;
}

:root {
}

@media (max-width: 992px) {
  .title-section-our-focus {
    height: 100px;
  }
}

@media (max-width: 992px) {
  #our-focus {
    /*padding-top: 60px;*/
  }
}

@media (max-width: 992px) {
  #donate {
    /*padding-top: 60px;*/
  }
}

@media (max-width: 992px) {
  #about-us {
    /*padding-top: 60px;*/
  }
}

@media (max-width: 992px) {
  #partners {
    /*padding-top: 60px;*/
  }
}

@media (max-width: 992px) {
  #impact {
    /*padding-top: 60px;*/
  }
}

@media (max-width: 992px) {
  #our-mission-vision {
    /*padding-top: 60px;*/
  }
}

@media (max-width: 992px) {
  #solution {
    /*padding-top: 60px;*/
  }
}

@media (max-width: 992px) {
  #challenge {
    /*padding-top: 60px;*/
  }
}

.title-selection-challenge {
  height: 300px;
  background: url("../../assets/img/annie-spratt-1YnBzhJISg4-unsplash.1.png?h=83e871f799e0172ca2a0f731d1249eba") top / cover no-repeat;
}

@media (max-width: 992px) {
  .title-selection-challenge {
    height: 100px;
  }
}

.title-section-solution {
  height: 300px;
  background: url("../../assets/img/annie-spratt-jmECplToD0c-unsplash.1.png?h=829e5145bb79b3ecb8d90e790ecc9d8a") top / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-solution {
    height: 100px;
  }
}

title-section-our-mission {
  height: 300px;
  background: url("../../assets/img/annie-spratt-SPS796v4KmM-unsplash.1.png?h=440bee825a163a744a6803f18a9314d4") top / cover no-repeat;
}

.title-section-our-mission {
  height: 300px;
  background: url("../../assets/img/maxime-niyomwungeri-z-lNmXoXt-k-unsplash.1.png?h=a503400143f9bdad1783bcbf08366769") top / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-our-mission {
    height: 100px;
  }
}

.title-section-our-impact {
  height: 300px;
  background: url("../../assets/img/annie-spratt-SPS796v4KmM-unsplash.1.png?h=440bee825a163a744a6803f18a9314d4") center / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-our-impact {
    height: 100px;
  }
}

.title-section-partners {
  height: 300px;
  background: url("../../assets/img/womanizer-wow-tech-8oB43mw658c-unsplash.1.png?h=10bbd30f2cb5ca61a16e6b81e1a93f0d") center / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-partners {
    height: 100px;
  }
}

.title-section-about-us {
  height: 300px;
  background: url("../../assets/img/hudson-hintze-vpxeE7s-my4-unsplash.1.png?h=2b83c4823c5af38d4d617a6d6d36c59c") center / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-about-us {
    height: 100px;
  }
}

.title-section-donate {
  height: 300px;
  background: url("../../assets/img/kat-yukawa-K0E6E0a0R3A-unsplash.1.png?h=c57c25e5f29aeea7961ac0ecff5da503") center / cover no-repeat;
}

@media (max-width: 992px) {
  .title-section-donate {
    height: 100px;
  }
}

