h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Montserrat, sans-serif !important;
  font-display: swap;
}

html {
  font-family: Montserrat, sans-serif !important;
}

body {
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #212529;
}

header {
  background: url('../../assets/img/ken-steven-9pForwRXkA4-unsplash.webp') center / cover no-repeat;
  width: 100%;
  min-height: 100vh;
  filter: grayscale(40%);
}

.icon-arrow-up-wrapper {
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 40px;
}

.icon-arrow-up {
  font-size: 50px;
  color: #353842;
}

.button-donate {
  border-radius: 20px;
  width: 100px;
  text-align: center;
  background: #c08269;
}

.header-container {
  margin: 0px;
  width: 100%;
}

.header-heading {
  margin-top: 0px;
  font-weight: 500 !important;
}

.info-text-header {
  color: #c08269;
  font-weight: 600;
  line-height: 45px;
}

.info-text-header-span {
  color: #292b2c;
  font-weight: 500;
  line-height: 40px;
}

.heading-title-section {
  font-weight: 500 !important;
}

.card-title-twc {
  color: #c08269;
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}

.navbar-brand-small {
  margin: 0px;
  padding: 0px;
  width: 25px;
}

.navbar-brand-big {
  width: 60px;
}

#navcol-1 {
  width: 100%;
}

.title-section-our-focus {
  height: 300px;
  background: url('../../assets/img/annie-spratt-m0DUL38R49Y-unsplash.1.webp') top / cover no-repeat;
}

.title-selection-challenge {
  height: 300px;
  background: url('../../assets/img/annie-spratt-1YnBzhJISg4-unsplash.1.webp') top / cover no-repeat;
}

.title-section-solution {
  height: 300px;
  background: url('../../assets/img/annie-spratt-jmECplToD0c-unsplash.2.webp') top / cover no-repeat;
}

.title-section-our-mission {
  height: 300px;
  background: url('../../assets/img/maxime-niyomwungeri-z-lNmXoXt-k-unsplash.1.webp') top / cover no-repeat;
}

.title-section-our-impact {
  height: 300px;
  background: url('../../assets/img/annie-spratt-SPS796v4KmM-unsplash.2.webp') center / cover no-repeat;
}

.title-section-partners {
  height: 300px;
  background: url('../../assets/img/womanizer-wow-tech-8oB43mw658c-unsplash.1.webp') center / cover no-repeat;
}

.title-section-about-us {
  height: 300px;
  background: url('../../assets/img/hudson-hintze-vpxeE7s-my4-unsplash.1.webp') center / cover no-repeat;
}

.title-section-donate {
  height: 300px;
  background: url('../../assets/img/kat-yukawa-K0E6E0a0R3A-unsplash.1.webp') center / cover no-repeat;
}

.card-donate {
  border: 2px solid #c08269 !important;
}

.description-full-brown {
  color: #c08269;
  font-weight: 600;
  line-height: 34px;
  font-size: 24px;
}

.description-full-black {
  font-weight: 600;
  color: #121416;
  line-height: 24px;
  font-size: 16px;
}

.card {
  height: 100%;
}

.paragraph-full-dark {
  font-size: 16px;
  line-height: 24px;
}

.text-brown {
  color: #c08269;
}

.lazy {
  background-image: none;
}

.font-weight-300 {
  font-weight: 300;
}

.width-30 {
  width: 30px;
}

.width-60 {
  width: 60px;
}

.width-150 {
  width: 150px;
}

.width-250 {
  width: 250px;
}

.width-300 {
  width: 300px;
}

/* media query */
@media (max-width: 992px) {
  .title-section-our-focus,
  .title-selection-challenge,
  .title-section-solution,
  .title-section-our-mission,
  .title-section-our-impact,
  .title-section-partners,
  .title-section-about-us,
  .title-section-donate {
    height: 150px;
  }
}

@media (max-width: 576px) {
  .title-section-our-mission {
    height: 250px;
  }
}
